.category {
  margin: 50px 100px;

  &__heading {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 46%;
      width: 94px;
      height: 2px;
      background-color: #16a34a;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-block {
      margin-left: 60px;
      width: calc((100% / 3) - 60px * 2);

      &-list {
        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          &-imgBox {
            width: 100%;
            cursor: pointer;
            border-radius: 50%;
            margin-bottom: 15px;
            overflow: hidden;
          }
          & img {
            width: 100%;
            object-fit: cover;
            transition: 0.5s ease;

            &:hover {
              transform: scale(1.4);
            }
          }

          & span {
            font-size: 1.1rem;
            font-weight: 400;
          }
        }
      }
    }

    &-block:first-child {
      margin-left: 0;
    }
  }
}

.newProduct {
  margin: 0 100px 50px 100px;

  &__heading {
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 46%;
      width: 94px;
      height: 2px;
      background-color: #16a34a;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &-block {
      margin-left: 10px;
      width: calc((100% / 4) - 10px * 3);
      margin-bottom: 30px;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0px 7px 25px rgba(0 0 0 / 8%);
      cursor: pointer;
      transition: 0.5s ease;

      &:hover {
        transform: translateY(-20px);
      }

      &-img {
        width: 100%;
        position: relative;
        height: 220px;

        img {
          width: 100%;
          object-fit: contain;
          height: 215px;
        }

        span {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: #16a34a;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.5s ease;
          visibility: hidden;
        }
      }

      &-name {
        margin-top: 10px;
      }

      &-price {
        font-weight: 600;
        margin-top: 10px;
      }

      &:nth-child(4n + 1) {
        margin-left: 0;
      }

      &:hover &-img span {
        height: 35px;
        cursor: pointer;
        visibility: visible;
      }
    }
  }

  &__see-more {
    text-align: center;
    margin-top: 10px;

    & button {
      border: none;
      outline: none;
      padding: 15px 25px;
      color: #fff;
      background-color: #97ae76;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .category {
    margin: 10px 50px;

    &__heading {
      &::after {
        left: 40%;
        width: 60px;
      }
    }

    &__wrapper {
      flex-direction: column;

      &-block {
        width: auto;
        margin: 0;
        margin-top: 10px;
      }
    }
  }

  .newProduct {
    margin: 0 20px 50px 20px;

    &__heading {
      &::after {
        left: 40%;
        width: 60px;
      }
    }

    &__wrapper {
      flex-direction: column;

      &-block {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .category {
    margin: 10px 50px;

    &__heading {
      &::after {
        left: 47%;
        width: 60px;
      }
    }

    &__wrapper {
      flex-direction: column;

      &-block {
        width: auto;
        margin: 0;
        margin-top: 10px;
      }
    }
  }

  .newProduct {
    margin: 0 20px 50px 20px;

    &__heading {
      &::after {
        left: 47%;
        width: 60px;
      }
    }

    &__wrapper {
      justify-content: flex-start;

      &-block {
        width: calc((100% / 3) - 10px * 2);

        &:nth-child(3n + 1) {
          margin-left: 0;
        }

        &:nth-child(4n + 1):not(&:nth-child(1)) {
          margin-left: 10px;
        }
      }
    }
  }
}
