.sidebar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #dbf8e6;

  &__close-icon {
    text-align: right;
    padding: 5px;
    cursor: pointer;
  }

  &__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & li {
      margin-top: 30px;
      font-size: 1.4rem;
    }
  }
}
