.product-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  height: 276px;
  max-height: 276px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__price {
    margin: 10px 0 5px 0;
    font-size: 1rem;
  }

  &__img {
    width: 100%;
    height: 150px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    font-size: 0.9rem;
    max-height: 35px;
  }
}

@media screen and (max-width: 600px) {
  .product-item {
    &__img {
      width: 60% !important;
    }
  }
}
