.product-item {
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
  border-radius: 10px;

  &:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
  }

  &__price {
    margin: 10px 0 5px 0;
    font-size: 0.85rem;
  }

  &__img {
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 600px) {
  .product-item {
    &__img {
      width: 60% !important;
    }
  }
}
