.footer {
  padding: 50px 100px 50px 100px;
  background-color: #edf2f5;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;

  &__block {
    width: calc(100% / 3);

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &-item-heading {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    & ul li {
      margin-top: 15px;
    }

    &-heading {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &-list li {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }

    &-list-icon {
      margin-right: 10px;
    }

    &-subscribe {
      margin-left: 100px;

      &-heading {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      &-form {
        & span {
          margin: 10px 0;
          display: inline-block;
        }

        &-form-group {
          & input {
            outline: none;
            border: 1px solid #ccc;
            padding: 10px 12px;
            border-radius: 5px;
          }

          & button {
            outline: none;
            border: 1px solid;
            padding: 10px 12px;
            border-radius: 5px;
            background-color: #7fad39;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 20px;
    flex-direction: column;

    &__block {
      width: auto;
      margin-top: 40px;

      &-subscribe {
        margin: 0;
      }
    }
  }
}
